@CHARSET "UTF-8";
.user_page{
	background: url("../../images/home/home_bg.png") repeat-x;
}
.user_page .container{
    padding:0 0 0 50px;
}
.user_page .user_base,.user_page .container .user_baseInfo{margin-right: 50px;}
.user_page .section.user_work{margin-right: 0;}
.user_page .user_base{
	margin-top:80px;
	margin-bottom: 50px;
	height: 100px;
    overflow: hidden;
}
.user_page .section .photo {
width: 100px;
height: 100px;
display: block;
float: left;
}
.user_page .section .avatar {
width: 100px;
height: 100px;
border-radius: 50%;
padding: 3px;
}
.user_page .section .user_name {
height: 100px;width: 160px;
color: #ffffff;
font-size: 18px;
display: block;
float: left;
line-height: 100px;
text-align: left;
margin-left: 40px;
}
.user_page .section .bg_line {
height: 36px;
width: 1px;
display: block;
float: left;
margin-left: 0;margin-top: 32px;
background-color: white;
}
.user_base .bg_line {
    margin-left: 50px;
}
.user_page .section .user_profile {
height: 100px;
color: #ffffff;
font-size: 18px;
display: block;
float: left;
line-height: 50px;
text-align: left;
margin-left: 50px;
}
.user_page .section .user_profile div{

}
.user_baseInfo_left{
    padding: 0;
    width: 625px;
}
.user_page .user_baseInfo{
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	display: block;
	margin: 0;
    padding: 30px 0 22px 38px;
}
.user_page .section_title{
font-size: 30px;
display: block;
color: #2be0bc;
padding-left: 4px;
margin-bottom: 30px;
clear: both;
}
.icon-setting{width:20px;height:20px;background: url(../images/icon-setting.png) 0 0 no-repeat;display: inline-block;margin-left: 5px;}
.user_page .section .section_title_border_left{
	background-color: #2bbfbd;
	height: 30px;margin-top: 13px;
	width: 5px;
	display: block;
	float: left;
}
.user_page .section .user_baseInfo_userName{
line-height: 50px;
margin-left: 30px;
color:#2bbfbd;
font-size: 28px;
}
.user_page .section .user_baseInfo_userName.icon{
    padding-right: 30px;background: url(../images/coner-down.png) no-repeat right center;
}
.user_page ul{
	margin: 0px;padding: 0;
}
.user_page ul li{
	margin-bottom: 18px;
}
.user_baseInfo_line{float: left;width:38px;height:166px;border-left: 1px solid #2BE0BC;}
.user_page .user_baseInfo_right{
    width: 245px;padding: 0;
}
.user_page .user_base_info_name{
	color: #2be0bc;
	font-size: 14px;
}
.user_page .user_base_info_value{
	font-size: 14px;
}
.user_page .user_work{
    margin-top: 70px;
}
.user_page .user_work .section_title{margin-left: 39px;margin-right: 50px;}
.user_work .works{padding: 0;}
.es-row-wrap {
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #e1e1e1;
}

.es-row-wrap .row {
	margin-left: 10px;
	margin-right: 10px;
}

.es-row-wrap .page-header {
	margin-top: 25px;
}

.es-row-wrap .page-header h1 {
	font-size: 24px;
}
.userpage-header {
	border-radius: 5px;
}

.userpage-header .row {
	margin-top: 25px;
	margin-bottom: 25px;
}

.userpage-header .avatar {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	clear: both;
}

.userpage-header-info {
	clear: both;
}

.userpage-header-info h1 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 28px;
}

.userpage-header-info h1 small {
	font-size: 16px;
	color: #096;
}

.userpage-header-info .about {
	color: #777;
}

.userpage-header-info .actions {
	float: right;
}

.userpage-body {
	border-radius: 5px;
	min-height: 200px;
}

.userpage-nav {
	background: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
	padding: 0px 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
}

.userpage-nav li a {
	padding: 10px 20px;
	color: #777;
	border-radius: 0;
}

.userpage-nav li a:hover {
	color: #333;
}

.userpage-nav li.active a {
	color: #555;
	background-color: #e7e7e7;
}

.userpage-sec-nav {
	margin-bottom: 20px;
}
